.custom-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.custom-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.custom-header .mdl-layout__header-row {
  padding-left: 40px;
}

.custom-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.custom-content {
  border-radius: 2px;
  padding: 40px 28px;
  margin-bottom: 80px;
}

#addURLBtn {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
  transition: opacity 0.6s linear;
}

li {
  transition: opacity 0.6s linear;
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
}

.search, .mdl-dialog .mdl-textfield, .loading {
  width: 100%;
}

dialog {
  z-index: 999;
}

.search input,
.search label {
  text-align: center;
}

.custom-item {
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px !important;
}

.loading {
  margin-top: -22px;
  height: 2px;
  transition: all 0.6s linear;
}

button>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px,-12px);
  transform: translate(-12px,-12px);
  line-height: 24px;
  width: 24px;
}

.spin {
  -webkit-animation: spin-kf 2s infinite linear;
  -moz-animation: spin-kf 2s infinite linear;
  -o-animation: spin-kf 2s infinite linear;
  animation: spin-kf 2s infinite linear;
      display: block;
  }

  @-webkit-keyframes spin-kf {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
  }

  @-moz-keyframes spin-kf {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
  }

  @-o-keyframes spin-kf {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
  }

  @keyframes spin-kf {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
  }